  <form id="addUserform">
    <table>
      <tr>
    <label for="firstname">First Name: </label>
    <input type="text" id="firstName" [(ngModel)]="model.firstName" name="firstName" style="margin-left: 2%"><br>
  </tr>
  <tr>
    <label for="lastname">Last Name: </label>
    <input type="text" id="lastname" [(ngModel)]="model.lastName" name="lastName" style="margin-left: 2%"><br>
  </tr>
  <tr>
    <label for="employeeId" style="text-align:left">Employee ID: </label>
    <input type="text" id="employeeId" name="employeeId" [(ngModel)]="model.employeeID"><br>
  </tr>
    </table>  
    <input #addButton type="submit" value="Add" id="toggleButton" (click)="addUsertoDB()" > &nbsp;
    <input type="reset" value="Reset" >
  </form>

  <hr>
  <div>

    <label >Search users</label> <br>
    <input type="text" id="searchTerm" #searchTerm value="Search..."> 
    <button style="margin-left: 1%" (click)="searchUser(searchTerm.value)">Search</button>

    <label style="margin-left: 1%">Sort Using</label> 
    <button value="firstName" style="margin-left: 1%" (click)="sortByFname()">First Name</button> &nbsp;
    <button value="lastName" (click)="sortByLname()"> Last Name</button>  &nbsp;
    <button value="id" (click)="sortByUserId()"> ID</button>

     <hr>
     
   
      <table border="1">
        <thead></thead>
        <tr>
          <th>
        <label>Firstname </label>
      </th>
    <th>
        <label>Lastname </label>
    </th>
    <th>
        <label>Employee id </label>
        </th>

      <th>
          <label>user id </label>
          </th>
        </tr>
        <tbody>
            <tr *ngFor="let user of Users">
              <td>
                  <input  type="text" [(ngModel)]="user.firstName" [readonly]="isEditable" > 
    
              </td>
              <td>
                  <input type="text" [(ngModel)]="user.lastName">
     
                </td>
                <td>
                    <input type="text" [(ngModel)]="user.employeeID">
     
                </td>
                <td>
                    <input type="text" [(ngModel)]="user.id">
      
                </td>
                <td>
                    <button (click)="deleteUser(user)"> Delete</button>
    
                </td>
                <td>
                    <button (click)="makeEditable(user)"> Edit</button>
    
                  </td>
              </tr>
        </tbody>
      </table>
      <hr>

   
  </div>

