<h2>Project manager home</h2>
<div style="width: 100%">

  <div id="addProject" class="add-task">  
  
     <a  class="btn btn-info" routerLink="/AddProject" routerLinkActive="active">Add Project</a>

  </div>

  <div id="addUser" class="add-task">  
      <a class="btn btn-info" routerLink="/AddUser" routerLinkActive="active">Add User</a>
 
   </div>

   <div id="addTask" class="add-task">  
  
    <a  class="btn btn-info" routerLink="/AddTask" routerLinkActive="active">Add Task</a>

 </div>

 <div id="viewTask" class="add-task">  
     <a class="btn btn-info" routerLink="/ViewTask" routerLinkActive="active">View Task</a>

  </div>
</div>
<router-outlet></router-outlet>
