<form>
<table>
 <tr>
   <h3>Add project section</h3> 
   <label for="projectname">Project Name:</label>
   <input type="text" id="projectname" name="projectname" [(ngModel)]="project.projectname">


 </tr>

 <tr>
  
  <input #setDate type="checkbox" [(ngModel)]="isDatesSelected" name="setDates"  [ngModelOptions]="{standalone: true}" > Set Start and End date


</tr>

<tr>
   <label> Start date</label>
   <input type="date" value="startDate" [(ngModel)]="project.StartDate" [disabled]="!(setDate.checked)" [ngModelOptions]="{standalone: true}">
</tr>
<tr>
    <label> End date</label>
  <input type="date" value="endDate" [(ngModel)]="project.endDate" [disabled]="!(setDate.checked)" [ngModelOptions]="{standalone: true}">
</tr>

<tr>
  <label for="priority">Priority:</label>
  <input type="text" id="priority" name="priority" [(ngModel)]="project.priority">


</tr>

<tr>
  <label for="manager">Manager Name:</label>
  <input type="text" id="managerName" name="managerName" [(ngModel)]="project.managerName">


</tr> &nbsp;

<tr><button id="searchManager">Search</button></tr>
<br>
<br>

<tr><input type="submit" (click)="AddProjectToDB(project)" value="Add project" > &nbsp;

<input type="reset" value="Reset">
</tr>
</table>
</form>
<hr>

<div>
   <h3> View Project section</h3>
  <label >Search projects</label> <br>
  <input type="text" id="searchTerm" #searchTerm value="Search..."> 
  <button style="margin-left: 1%" (click)="searchProject(searchTerm.value)">Search</button>

  <label style="margin-left: 1%">Sort Using</label> 
  <button value="startDate" style="margin-left: 1%" (click)="sortBySDate()">Start Date</button> &nbsp;
  <button value="endDate" (click)="sortByEDate()"> End Date</button>  &nbsp;
  <button value="priority" style="margin-left: 1%" (click)="sortByPrio()">Priority</button> &nbsp;
  <!-- <button value="status" (click)="sortByStatus()"> Status</button>  &nbsp;
   -->
  <!-- <button value="id" (click)="sortByUserId()"> ID</button> -->

   <hr>
   
  
    <table border="1" *ngIf="!isSorted"> 
      <thead></thead>
      <tr>
        <th>
      <label>Project name </label>
    </th>
   
  <th>
      <label>No of tasks  </label>
    <!-- <input type="text" [(ngModel)]="prjct.lastName"> -->
    </th>
  <th>
      <label>Completed </label>
     <!--  <input type="text" [(ngModel)]="prjct.isCompletedCheck" value="{{prjct.isCompletedCheck}}">
     --></th>

    <th>
        <label>start date</label>
        </th>
      <th>
        <label>End date</label>
         </th>
      <th>
        <label>priority</label>
         </th>
         </tr>
      <tbody >
          <tr *ngFor="let prjct of prjcts">
      <td>
        <input  type="text" [(ngModel)]="prjct.name" [readonly]="isEditable" > 
        
      </td>
      <td>
          {{taskNumber}}
      </td>
      <td>
          {{isCompleted}}
      </td>
      
      <td>
        <input type="text" [(ngModel)]="prjct.startDate">
     
      </td>
      <td>
        <input type="text" [(ngModel)]="prjct.endDate">
     
      </td>
      <td>
        <input type="text" [(ngModel)]="prjct.priority">
    
      </td>
      <td>
          <button (click)="makeEditable(user)"> Edit</button>
        
      </td>
      <td>
          <button (click)="deleteUser(user)"> Delete</button>
    
        </td>
      </tr>
      
    </tbody>
    </table>


    <table id="sortedTable" *ngIf="isSorted">
      <thead></thead>
      <tr>
        <th>
      <label>Project name </label>
    </th>
   
  <th>
      <label>No of tasks  </label>
    <!-- <input type="text" [(ngModel)]="prjct.lastName"> -->
    </th>
  <th>
      <label>Completed </label>
     <!--  <input type="text" [(ngModel)]="prjct.isCompletedCheck" value="{{prjct.isCompletedCheck}}">
     --></th>

    <th>
        <label>start date</label>
        </th>
      <th>
        <label>End date</label>
         </th>
      <th>
        <label>priority</label>
         </th>
         </tr>
      <tbody>

     

        <tr *ngFor="let prjct of sortedProjects">
          <td>
            <input  type="text" [(ngModel)]="prjct.name" [readonly]="isEditable" > 
            
          </td>
          <td>
              {{taskNumber}}
          </td>
          <td>
              {{isCompleted}}
          </td>
          
          <td>
            <input type="text" [(ngModel)]="prjct.startDate">
         
          </td>
          <td>
            <input type="text" [(ngModel)]="prjct.endDate">
         
          </td>
          <td>
            <input type="text" [(ngModel)]="prjct.priority">
        
          </td>
          <td>
              <button (click)="makeEditable(user)"> Edit</button>
            
          </td>
          <td>
              <button (click)="deleteUser(user)"> Delete</button>
        
            </td>
          </tr>
      
   </tbody>
    </table>
    <hr>
  <!-- </div> -->
 
</div>

