<form>
<table>
 <tr>
   <h3>Add project section</h3> 
   <label for="projectname">Project Name:</label>
   <input type="text" id="projectname" name="projectname" [(ngModel)]="project.projectname">


 </tr>

 <tr>
  
  <input #setDate type="checkbox" [(ngModel)]="isDatesSelected" name="setDates"  [ngModelOptions]="{standalone: true}" > Set Start and End date


</tr>

<tr>
   <label> Start date</label>
   <input type="date" value="startDate" [(ngModel)]="project.StartDate" [disabled]="!(setDate.checked)" [ngModelOptions]="{standalone: true}">
</tr>
<tr>
    <label> End date</label>
  <input type="date" value="endDate" [(ngModel)]="project.endDate" [disabled]="!(setDate.checked)" [ngModelOptions]="{standalone: true}">
</tr>

<tr>
  <label for="priority">Priority:</label>
  <input type="text" id="priority" name="priority" [(ngModel)]="project.priority">


</tr>

<tr>
  <label for="manager">Manager Name:</label>
  <input type="text" id="managerName" name="managerName" [(ngModel)]="project.managerName">


</tr> &nbsp;

<tr><button id="searchManager">Search</button></tr>
<br>
<br>

<tr><input type="submit" (click)="AddProjectToDB(project)" value="Add project" > &nbsp;

<input type="reset" value="Reset">
</tr>
</table>
</form>
<hr>

<div>
   <h3> View Project section</h3>
  <label >Search projects</label> <br>
  <input type="text" id="searchTerm" #searchTerm value="Search..."> 
  <button style="margin-left: 1%" (click)="searchProject(searchTerm.value)">Search</button>

  <label style="margin-left: 1%">Sort Using</label> 
  <button value="firstName" style="margin-left: 1%" (click)="sortByFname()">First Name</button> &nbsp;
  <button value="lastName" (click)="sortByLname()"> Last Name</button>  &nbsp;
  <button value="id" (click)="sortByUserId()"> ID</button>

   <hr>
   
  <div *ngFor="let prjct of prjcts">
    <table>
      <tr>
      <label>Project name :</label>
    <input  type="text" [(ngModel)]="prjct.firstName" [readonly]="isEditable" > 
  <button (click)="makeEditable(user)"> Edit</button>
  </tr>
  <tr>
      <label>No of tasks :</label>
    <input type="text" [(ngModel)]="prjct.lastName">
    <button (click)="deleteUser(user)"> Delete</button>
  </tr>
  <tr>
      <label>Completed:</label>
      <input type="text" [(ngModel)]="prjct.employeeID">
    </tr>

    <tr>
        <label>start date:</label>
        <input type="text" [(ngModel)]="prjct.StartDate">
      </tr>
      <tr>
        <label>End date:</label>
        <input type="text" [(ngModel)]="prjct.endDate">
      </tr>
      <tr>
        <label>priority:</label>
        <input type="text" [(ngModel)]="prjct.priority">
      </tr>
    </table>
    <hr>
  </div>
 
</div>

