<div id="viewTaskBody">
    <form #viewForm="ngForm" (ngSubmit)="searchTaskService(viewForm)" >
   <table>
 
   <tr>
   
     <div class="view-task">
   <label for="tasknameSearch">Task name:</label>
   <input type="text"  id="tasknameSearch" name="tasknameSearch" [(ngModel)]="model.taskname">
   </div>
   <div class="view-task">
   <label for="parentTask">Parent Task:</label>
   <input  id="parentTaskSearch" type="text" [(ngModel)]="model.parentTask" name="parentTask"/>
   </div>
 </tr>
 <tr>
   <div class="view-task-1">
       <label for="priosearch">Priority</label>
       <input  id="priosearch" type="text" [(ngModel)]="model.Priority" name="priosearch"/>
 <!--      
           <label>Priority To:</label>
           <input type="text" size="1"> -->
          
               <label for="sdate">Start date:</label>
               <input type="date" id="sdate" style="width:155px" [(ngModel)]="model.startDate" name="sdate">
            
       <label fpr="edate">End date:</label>
       <input type="date" style="width:155px" [(ngModel)]="model.endDate" name="edate">
       </div>
     </tr>
 
 
     
   </table>
 
   
  <input type="submit" value="Search" class="btn btn-info">
 
 
 
   </form>
    <!-- <div *ngIf="isSearched">  -->
   <table border="1">
       <thead></thead>
       <tr>
         <th>Task Name</th>
         <th>Parent task Name</th>
         <th>Priority</th>
         <th>Start date</th>
         <th>End date</th>
       </tr>
       <tbody>
           <tr *ngFor="let basictask of tasks">
               <td *ngIf="basictask.rowId == editRowId">
                 
                 <input type="text" [(ngModel)]="basictask.name">
               </td>
               <td *ngIf="basictask.rowId !== editRowId" (click)="toggle(basictask.rowId)">
                   {{basictask.rowId}}
                </td>
                <td *ngIf="basictask.rowId == editRowId">
                 
                   <input type="text" [(ngModel)]="basictask.parentTask">
                 </td>
               <td *ngIf="basictask.rowId !== editRowId" (click)="toggle(basictask.rowId)">{{basictask.parentTask}}</td>
               <td *ngIf="basictask.rowId == editRowId">
                 
                   <input type="text" [(ngModel)]="basictask.priority">
                 </td>
               <td *ngIf="basictask.rowId !== editRowId" (click)="toggle(basictask.rowId)">{{basictask.priority}}</td>
               <td *ngIf="basictask.rowId == editRowId">
                 
                   <input type="text" [(ngModel)]="basictask.startDate">
                 </td>
               <td *ngIf="basictask.rowId !== editRowId" (click)="toggle(basictask.rowId)">{{basictask.startDate}}</td>
               <td *ngIf="basictask.rowId == editRowId">
                 
                   <input type="text" [(ngModel)]="basictask.endDate">
                 </td>
               <td *ngIf="basictask.rowId !== editRowId" (click)="toggle(basictask.rowId)">{{basictask.endDate}}</td>
               <!-- <td><button class="btn btn-info"> Edit</button></td> -->
               <td><button class="btn btn-info" (click)="deleteTask(basictask.name)"> End Task</button></td>
               
           </tr>
       </tbody>
     </table>
   <!-- </div> -->
 </div>
 